img{
    width: 100%;
    height: 100%;
}
.avg_review_box{
    width: 100%;
    height: 80px;
    background-color: #ddd;
    font-size: 24px;
    color: #696969;
}
.star{
    color: #ff1d1d;
}
.avg_box{
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
}
.review_box{
    width: 100%;
    /*height: 1000px;*/
    /* background-color: hotpink; */
    margin-top: 20px;
    /* border: 2px solid; */
    box-sizing: border-box;
}
.review_title_font{
    font-size: 30px;
    color: #555;

    padding-left: 20px;
    margin: 0 auto;
}
.review_tap_btn_box{
    width: 100%;
    /* border-bottom: 3px solid rgb(44, 44, 44); */
    display: flex;
    justify-content: left;

    margin: 20px auto;

    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: 900;
}
.review_tap_btn{
    width: 100px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    /* border-width: 1px 1px 0 1px; */
    cursor: pointer;
    box-sizing: border-box;


}
#non_btn{
    width: calc(100% - 200px);
    height: 40px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;

}
.list_photo{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}
.photo_review{
    width: calc((100% / 4) - 60px);
    /* height: 300px; */

    /* background-color: aqua; */
    text-align: center;
    text-overflow: ellipsis;
}
.photo_review_img{
    width: 100%;
    height: 240px;
    overflow: hidden;
}
.review_star{
    width: 50%;
    color: #ff1d1d;
    display: inline-block;
    /* float: left; */
}
.review_date{
    width: 50%;
    /* float: right; */
    color: #696969;
}
.photo_review_txt{
    display:-webkit-box;
    word-wrap:break-word;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;
    overflow:hidden;
    text-overflow:ellipsis;
    padding-top: 5px;
    height:54px;
    line-height:18px;
    color:#444;
    font-size:13px;
    text-decoration:none;
}
#photo_btn{
    border: solid #000 ;
    border-width: 1px 1px 0 1px;
    color: #000;
}
#text_btn{
    border: solid #000 ;
    border-width: 0 0 1px 0;
    color: #888;
}
.id_Photo_txt{
    text-align: left;
    margin-bottom: 5px;
}
.text_review{
    width: 90%;
    min-height: 200px;
    border: 1px solid #bbb;
    border-radius: 4px;
    padding: 10px 40px;
    box-sizing: border-box;
    margin: 0 auto;
}
.id_txt_txt{
    /* width: 100%; */
    /* background-color: #ddd; */
    font-size: 13px;
    font-weight: 500;
    float: left;

    padding-left: 10px;
    box-sizing: border-box;
}
.star_date{
    display: flex;
    float: right;
    gap: 10px;
}
.review_product_info{
    display: flex;
    width: 100%;
    height: 70px;
    /* background-color: hotpink; */
    padding: 5px 0;
    box-sizing: border-box;
}
.product_img{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 4px;
}
.review_product_name{
    width: 100%;
    font-size: 20px;
    font-weight: 900;
    padding-left: 5px;
    box-sizing: border-box;
    color: #333;
    /* background-color: blue; */
}
.review_product_size_color{
    font-size: 13px;
    padding-left: 15px;
    box-sizing: border-box;
    color: #666;
    /* background-color: red; */
}
.review_text_content{
    width: 100%;
    /* border: 1px solid; */
    font-size: 15px;
    /* padding:0 70px; */
    box-sizing: border-box;
    color: #111;
}
.review_text_star{
    color: #ff1d1d;

}
.list_text{
    flex-direction: column;
    gap: 10px;
    display: none;
}