.n_search_filter {
    padding-bottom: 20px;
}
.n_radio_tab {
    display: block;
    float: left;
    padding-right: 1px;
    padding-left: 20px;
    font-size: 0;
}
input[name="radioTab"] { display: none;}
.n_radio_tab input + label {
    display: inline-block;
    min-width: 76px;
    border: 1px solid #c5c5c5;
    color: #777777;
    font-size: 14px;
    margin-right: -1px;
    line-height: 30px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.calendar_reference {
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 0 20px;
}
.calendar_reference > div {
    height: 30px; line-height: 25px;
}
.btn_confirm { 
    width: 60px;
    height: 30px;
    background: #333;
    color: #fff;
    border-radius: 5px;
}
input[type="date"] {
    position: relative;
    padding: 6px;
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
    border-radius: 5px;
}
input[type="date"]::-webkit-calendar-picker-indicator { 
    background: transparent;
    z-index: 1;
} 
input[type="date"]::after {
    position: absolute;
    content: "";
    width: 20px;height: 20px;
    right: 5px;
    background: url(../img/calendar.png) no-repeat center / 20px 20px;
}
.in_table {
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    table-layout: fixed;
}
.in_table th {
    height: 52px;
    font-size: 16px;
    vertical-align: middle;
    font-weight: normal;
}
tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
    background: transparent;
}
.in_table td {
    height: 70px;
    padding: 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #f5f5f5;
    text-align: center;
    vertical-align: middle;
    word-break: break-all;
}
.in_bottom {
    position: relative;
}
.in_btn_o {
    display: inline-block;
    text-align: center;
}
.in_btn {
    display: inline-block;
    min-width: 100px;
    height: 40px;
    line-height: 36px;
    color: #ffffff;
    background-color: #000000;
    box-sizing: border-box;
    padding: 2px 8px 0 8px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    right: 2%;
}
.pagination {
    display: inline-block;
    text-align: center;
    font-size: 0px;
    padding: 20px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.pagination > div {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    margin: 0 0 0 -1px;
    font-size: 15px;
    color: #73777B;
    cursor: pointer;
}
.pnum {
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}
.pp{
    background: url(../img/sprite-common.png) no-repeat -280px -60px;
    text-indent: -50000px;
}
.pre {
    background: url(../img/sprite-common.png) no-repeat -309px -60px;
    text-indent: -50000px;
}
.next {
    background: url(../img/sprite-common.png) no-repeat -338px -60px;
    text-indent: -50000px;
}
.nn {
    background: url(../img/sprite-common.png) no-repeat -367px -60px;
    text-indent: -50000px;
}
.on {
    background-color: rgba(200, 200, 200, 0.5);
    color: black;
    font-weight: 900;
}