.main { }
.mypage_container {
    width: 900px;
    margin: 0 auto;
    padding: 20px;
}
.mp_title {
    width: 100%;
    /* min-width: 900px; */
    background: #333333;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.mp_title > h1 {
    padding: 20px 0 ;
    font-size: 25px;
}
.mypage_list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.mypage_section {
    width: calc((100% - 10px) / 2);
    background: #333333;
    color: #fff;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section_logo {
    width: 50px;
    height: 50px;
}
.corp_logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.section_title {
    font-size: 22px;
    width: 200px;
}
.btn_moveSection {
    border: 1px solid #fff;
    width: 100px;
    text-align: center;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 10px 0;
    cursor: pointer;
}
.sns_log_desc {
    position: absolute;
    bottom: 25px;
    font-size: 12px;
    text-align: center;
}
.contents_box {
    width: 100%;
    border: 5px solid #000;
    padding: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;
}
.user_info > li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding: 0 20px;
    gap: 20px;
}
.user_info>li>.title {
    width: 20%;
}
.info_fixed {
    font-style: italic;
}
.info_pw {
    width: 80%;
    display: flex;
    justify-content: center;
}
.btn_pw_change {
    padding: 10px 30px;
    color: #fff;
    margin: 0;
    background: linear-gradient( #000 ,#333, #000);
}
