.wish_container {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.wl_title {
    width: 100%;
    background: #333333;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.wl_title > h1 {
    padding: 20px 0 ;
    font-size: 25px;
}
.wish_btn {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 30px;
}
.wish_btn > button {
    width: 100px;
    height: 40px;
    background-color: #EAEAEA;
    border: 0px solid #EFEFEF;
    color: #999;
    font-weight: 999;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s;
}
.wish_btn > button:hover {
    color: #EFEFEF;
    background-color: #999;
}
.wish_list {
    min-height: 1000px;
    padding: 0 30px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 100px;
}
.wish_none {
    text-align: center;
    color: #dddddd;
    padding: 300px 0;
}
.wish_item {
    width: calc((100% - (15px * 2 * 4)) / 4);
    height: 400px;
    padding: 15px;
    float: left;
    position: relative;
}
.wish_img_box {
    /* width: 270px; */
    height: 270px;
    border-radius: 8px;
    overflow: hidden;
}
.wish_img {
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.wish_img_box:hover > .wish_img {
    scale: 1.1;
}
.wish_wish {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 4%;
    right: 7%;
    background: url(../img/etc/heart2.png) no-repeat center 100% / cover;
    cursor: pointer;
}
.w_chk {
    display: none;
}
.w_chk::after {display:block; clear:both; content:"";}
input[type="checkbox"] + label {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5%;
    left: 7%;
    background: url(../img/etc/input_checkbox.png) no-repeat 0 0;
    cursor: pointer;
}
input[type="checkbox"]:checked + label {
    background: url(../img/etc/input_checkbox.png) no-repeat 0 -30px;
    cursor: pointer;
}
.wish_title {
    width: 100%;
    margin-top: 10px;
}
.wish_item_name {
    margin-bottom: 3px;
    max-height: 4rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}
.wish_item_prd {
    margin-bottom: 3px;
    max-height: 4rem;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
}
.wish_price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2px;
    font-family: 'Montserrat';
}
.sprc_item_prc {
    margin: 7px 0;
    font-family: 'Montserrat';
}
.sprc_item_cur {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
}
.sprc_item_sale {
    display: inline-block;
    color: #999;
    text-decoration: line-through;
}
.sprc_item_rate {
    font-weight: bold;
    color: #ff3a69;
    margin-right: 2px;
}