.contents_box {
    width: 100%;
    max-width: 1200px;
    /* min-width: 900px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.notice {
    padding: 30px;
    width: 400px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}
#pw {
    width: 300px;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}
.btn_box {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.btn {
    width: 40%;
    height: 50px;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.btn_cancel {
    background: #eee;
}
.btn_confirm {
    background: #333;
    color: #fff;
}