img {
    width: 100%;
    /*height: 100%;*/
}

.d_sub_nav {
    height: 50px;
    /* background-color: brown; */
}
.d_product {
    width: 100%;
    /* height: 700px; */
    /* background-color: pink; */
    display: flex;
    flex-wrap: nowrap;
    gap: 20%;
    margin-bottom: 200px;
    /* justify-content: space-between; */
}
.d_img_box {
    width: 100%;
    height: 520px;
    background-color: #dddddd;

    position: relative;

    overflow: hidden;
}
.d_img {
    width: 480px;
    height: 480px;
    background-color: violet;

    position: absolute;
    left: 100%;
    top: 0;
}
.d_indicator {
    position: absolute;
    left: 50%;
    top: 94%;
    transform: translate(-50%);

    display: flex;
    gap: 10px;
}
.d_indi_btn {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: black;
}
.indi_active {
}
.d_info_box {
    width: 100%;
    height: 100%;
    /* background-color: gray; */
}
.d_head {
    color: #222;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    /* border-top:2px solid #000 ;*/
}

.d_title {
    font-weight: normal;
    color: #353535;
    width: 150px;
    font-size: 12px;
    padding: 7px 0 8px 9px;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
}
.d_contents{
    color: #777;
    font-size: 12px;
    font-weight: normal;
}

.d_sell_title{
    color: #222;
    font-size: 17px;
    font-weight: bold;
    padding: 7px 0 8px 9px;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
}
.d_sell_contents{
    color: #222;
    font-size: 17px;
    font-weight: bold;
    box-sizing: border-box;
    padding: 7px 6px 8px 0;
    vertical-align: middle;
}
.d_opt_size{

}

.d_b_tb2{
    border-top: 2px solid #222;
    width: 100%;
}
.d_b_bw2{
    border-bottom: 2px solid #e8e8e8;
}
.d_b_tw2{
    border-top: 2px solid #e8e8e8;
    width: 100%;
}
/*애매모호*/
/* .d_heart_box{
    position: absolute;
    top: 50px;
    left: auto;
    right: 0px;
    border-top: 2px solid#222;
    width: 50px;
    height: 50px;
    background: #444;
    box-sizing: border-box;
} */
.d_p{
    color: #757575;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 0 8px 9px;
    margin: 0;
}
.d_p2{
    margin: 2px 9px;
    padding: 1px 0 1px 20px;
    line-height: 1.4;
    font-size: 11px;
    background: url(../img/dealImg/ico_info.gif) no-repeat 0 2px;
    color: #f76560
}
th {
    display: none;
}
.d_total_price{
    margin: 10px 0 0;
    padding: 34px 9px 19px;
    border-top: 1px solid #9a9ba0;
    color: #353535;
    vertical-align: middle;
    background: #fff;
    font-size: 12px;

}
.d_total {
    float: right;
    color: #222;
}
.d_total_price .d_total em {
    font-style: normal;
    font-size: 21px;
}
strong {
    font-weight: bold;
}
.d_btn_box{
    padding: 30px 0 10px;
    box-sizing: border-box;

    width: 100%;
    display: flex;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    justify-content: space-evenly;
}
.d_btn_box > button:nth-child(1) {
    height: 45px;
    font-size: 24px;
    color: #fff;
    background-color: #434343;
    border: 1px solid;
    box-sizing: border-box;
    padding:0 30px;
}
.d_btn_box > button:nth-child(2),.d_btn_box > button:nth-child(3) {
    background-color: #fff;
    color: #434343;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    padding:0 20px;
}
.d_tab_btn{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    background-color: #dddddd;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 900;
    position: relative;
    left: 0;
    top: 0;
}
.small_btn {
    width: calc(100% /5);
    line-height: 50px;
    border: 2px solid #222;
}
.d_tab_btn > li > a,.btn_top > li > a {
    width: 100%;
    height: 100%;
    display: block;
}
.h1000{
    /*width: 100%;*/
    min-height: 1000px;
    /*height: 1000px;*/
    /*border: 2px solid;*/
    /*box-sizing: border-box;*/
    /*font-size: 40px;*/
}
.btn_top {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #000;
    color: #ddd;
    border-radius: 50%;

    position: fixed;
    right: 50px;
    bottom: 50px;
}
#o_price {
    text-decoration: line-through;
}

.sc_contents{
    margin: 5px;
    display: flex;
    gap: 5px;
}
.cc_contents{
    margin: 0 5px 5px;
    display: flex;
    gap: 5px;
}
.sc_btn{
    width:40px;
    height: 40px;
    background-color: #ddd;
    border: 1px solid #353535;
    box-sizing: border-box;
    line-height: 40px;
    text-align: center;
}
.sel_color_box {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border: 1px solid #dddddd;
    color: #757575;
    padding: 0 10px;
    box-sizing: border-box;
}
.x_btn{
    width: 11px;
    height: 11px;
    display: inline-block;
}
.opt_name {
    width: 200px;
}
.opt_name > div:nth-child(2) {
    font-size: 12px;
    margin-top: 3px;
}
.opt_qty {
     width: 110px;
 }
.btn_qty {
    background: #fff;
    border: 1px solid #ddd;
    width: 25px;
    height: 25px;
    float: left;
    outline: none;
    cursor: pointer;
}
.txt_minus { border-right: none}
.txt_plus { border-left: none}
.txt_qty {
    background: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    width: 30px;
    height: 25px;
    float: left;
    outline: none;
    text-align: center;
}
.chk_item_order{
    display: none;
}
#p_tot {
    font-size: 28px;
}
#sec2{
    padding: 20px;
    box-sizing: border-box;
}
.d_refund_txt{
    font-size: 28px;
    margin: 10px auto;
    color: #333;
    font-weight: 500;
}
.d_pagination {
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: center;

    margin-top: 10px;

}
.d_pagination_a {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    overflow: hidden;
    margin: 0 0 0 -1px;
    font-size: 15px;
    color: #73777B;
    cursor: pointer;
}
.d_on {
    background-color: rgba(200, 200, 200, 0.5);
    color: black;
    font-weight: 900;
}
.d_pnum {
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
}
.d_pp{
    background: url(../img/etc/sprite-common.png) no-repeat -280px -60px;
    text-indent: -50000px;
}
.d_pre {
    background: url(../img/etc/sprite-common.png) no-repeat -309px -60px;
    text-indent: -50000px;
}
.d_next {
    background: url(../img/etc/sprite-common.png) no-repeat -338px -60px;
    text-indent: -50000px;
}
.d_nn {
    background: url(../img/etc/sprite-common.png) no-repeat -367px -60px;
    text-indent: -50000px;
}
table{
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
}
th, td{
    padding:0;
}
.d_qna_title{
    width: 100%;
    /*background-color: #bbb;*/
    margin-bottom: 50px;
}
.d_qna_title_txt{
    font-size: 32px;
    line-height: 1;
    color: #333;
    font-weight: 200;
    margin: 10px 0 20px;
}
.d_qna_title_noti{
    font-size: 14px;
    line-height: 160%;
    color: #666;
}
.point{
    font-size: inherit;
    line-height: inherit;
    color: #ff3a69;
}
.d_qna_box{
    width: 100%;
    border-top: 1px solid #333;

}
.d_qna_top{
    /* width: 100%; */
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
}
.d_qna_top_list{
    padding-top: 0;
    padding-bottom: 0;
    color: #333;

    /* background: #f4f4f4; */
}
.d_q_t > .d_qna_top_list{
    height: 50px;
    background: #f4f4f4;
    border-left: 1px solid #d9d9d9;
}
.d_qna_tag_mark{
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    box-sizing: border-box;
    background-color: #eee;

}
.d_qna_tag_active{
    border: 1px solid #41a5eb;
    background: #e5f5ff;
    color: #41a5eb;
}
.d_qna_faq_box{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cell_type {
    width: 180px;
}
.cell_quest {
    width: 690px;

}
.cell_writer {
    width: 165px;
}
.cell_date {
    width: 165px;
}
.d_qna_faq_que{
    line-height: 40px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    color: #666;
    text-overflow:ellipsis;
    text-decoration: none;
    overflow:hidden;
    display:-webkit-box;
    word-wrap:break-word;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;

}
.cClick{
    /*margin: 0 5px 5px;*/
}
.sClick{
    /*margin: 5px;*/
}
.d_qna_faq_ans{
    line-height: 30px;
    height: 30px;
    max-width: 100%;
    font-size: 14px;
    color: #666;
}
.d_qna_faq{
    height: 100%;
    text-align: left;
}
.d_qna_faq_view{
    display:table-row;
    /* height: 300px; */
}
.d_qna_faq_view_qa{
    display: table-cell;
    /* width: 100%; */
}
.d_qna_faq_q{
    display: none;
    overflow: hidden;
    position: relative;
    padding: 20px 0 40px 100px;
    background: url(../img/dealImg/detail_qna_list_Q.png) no-repeat left top;
    font-size: 14px;
    line-height: 160%;
    color: #666;
}
.d_qna_faq_a{
    display: none;
    /* clear: both; */
    position: relative;
    padding: 20px 20px 20px 100px;
    border-top: 1px dashed #d9d9d9;
    background: #f4f4f4 url(../img/dealImg/detail_qna_list_A.png) no-repeat left top;
    font-size: 14px;
    line-height: 1.5;
}
i{
    /* display: block; */
    position: absolute;
    top: -1px;
    left: 32px;
    width: 16px;
    height: 16px;
    background: url(../img/dealImg/detail_qna_list_A_arr.png) no-repeat;
}
.d_qna_faq_active{
    display:table-cell;
}
.d_qna_faq_tit{
    overflow: hidden;
    max-width: 100%;
    margin: 0 0 8px 0;
    padding: 0 21px 0 0;
    font-size: 16px;
    line-height: 160%;
    color: #555;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-wrap: normal;
}
.on{
    font-weight: 900;
    color: #222;
}