/* #wrap{width: 1200px;} */
/* 메인 배너 (이미지 슬라이드) */


/* ////////////////////////////////////////////// */
/* 장바구니 */

/* 장바구니 전체 틀 */
.basket_box{
    position: fixed;
    top: 300px;
    right: -700px;
    display: flex;
    transition: 0.8s all;
    z-index: 99999;
}
.basket_active{
    right: 0;
}
/* 장바구니 로고 */
.basket_min{
    width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 2px solid black;
    box-sizing: border-box;
    background: white;
    cursor: pointer;
}
.cart_img{
    width: 50px;
    height: 50px;
}
.basket_icon{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}
/* 장바구니 수량 */
.basket_total_quentity{
    width: 50%;
    line-height: 50px;
    height: 100%;

}
/* 장바구니 메인 영역 */
.basket_pan{
    width: 700px;
    /* height: 500px; */
    background: rgb(255, 255, 255);
}
/* 장바구니 타이틀 영역부 */
.basket_title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-weight: 900;
    border: 1px solid black;
    text-align: center;
    background: gray;
}
/* 타이틀 가로 간격  */

.row{
    float: left;
}


/* 가로간격 적용 */
/* 번호 */
.basket_title > .row:nth-child(1){width:8%;}
/* 이미지 */
.basket_title > .row:nth-child(2){width:20%;}
/* 상품명 */
.basket_title > .row:nth-child(3){width:30%;}
/* 가격 */
.basket_title > .row:nth-child(4){width:20%;}
/* 수량 */
.basket_title > .row:nth-child(5){width:12%;}
/* 삭제 */
.basket_title > .row:nth-child(6){width:10%;}

/* 장바구니 상품정보 영역(한줄)*/
.basket_items{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
    box-sizing: border-box;   /* background: red; */

}

.basket_item_data > .row{
    border-style: none;

}
.basket_item_check{
    width: 8%;
    height: 100px;

}
.basket_product_img{
    width: 20%;
    height: 100px;
    /* background: red; */
}
.basket_product_name{
    width: 30%;
    height: 100px;
}
.basket_product_price{
    width: 20%;
    height: 100px;
}
.basket_product_quentity{
    width: 12%;
    height: 100px;
}
.basket_product_delete{
    width: 10%;
    height: 100px;
}
.basket_x{
    width: 10px;
    height: 10px;
    background: gray;
}


/* //////////////////////////////// */

/* 이벤트 배너 */
.event_banner{
    width:270px;
    height: 150px;
    position: fixed;
    /* transition: 1s all; */
    top: calc(100vh - 200px);
    z-index: 99999;
}
#event_img{
    width:270px;
    height: 150px;
}
.close_img > img{
    width:20px;
    height:20px;
}
#close{
    display: none;
}
.close_img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
.close_active{
    display: none;
}

/* 메인배너 틀 */
.main_banner{
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    position: relative;
    /*overflow: hidden;*/

    /* z-index: -99; */
}
/* 이미지영역 */
.banner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    font-size: 100px;
    font-weight: 900;
    text-align: center;
}

.btn_slide {
    width: 50px;
    height: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    cursor: pointer;
    /* display: flex;
    justify-content: space-between; */
}

#btn_slide_L {
    left: 0;
    background:url(../img/main/btn_L.png);
}
#btn_slide_R {
    right: 0;
    background: url(../img/main/btn_R.png) ;
}

.circle_indicator {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    /* background-color: skyblue; */
    display: flex;
    gap: 10px;
}
.circle {
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}
.circle_active {
    background: #fff;
}




/* 메인 카테고리 섹션 */
h4{margin: 0;}
h5{margin: 0;}
.main_sec{
    margin: 100px auto;
    width: 1200px;
    /* background-color: aquamarine; */
}
.sec_title{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}
.main_title{
    margin: 0 auto;
    font-size: 25px;
    font-weight: 600;
}
.sub_title{margin: 0;}
.more{
    float: right;
}
.more:hover{
    text-decoration: underline;
}

/* 상품 영역 */
.items_area{
    display: flex;
    /* background: blue; */
    justify-content: space-between;
    flex-wrap: wrap;
}
/* 상품  */
.item{
    width: 280px;
    height: 370px;
    text-align: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    /* background: red; */
}

/* 상품 이미지 */
.img_box{
    width: 280px;
    height:280px;
    box-sizing: border-box;
    overflow: hidden;
    scale: 1;
    transition: 0.4s all;
    position: relative;
}

.item:hover .img_box{
    scale: 1.2;
}
/* 상품 내용 */
.item_txt{
    position: inherit;
    background: white;
    height: 100%;
    width: 100%;

    /* background: blue; */
}
.item:hover .item_txt{
    text-decoration: underline;
}



/* 푸터 */
.footer {
    width: 100%;
    height: 300px;
    background-color: #222;
}