//Break Point
$laptop: 1023px;
$tablet: 821px;
$mobile: 639px;

//Mixins
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}
.main {
  min-height: 800px;
}
.contents_area {
  width: 1000px;
  margin: 0 auto;
  @include laptop{
    width: 80%;
  }
}

.mypage_container {
  width: 80%;
  min-width: 900px;
  margin: 0 auto;
  padding: 20px;
  @include laptop{
    width: 100%;
    min-width: unset;
    padding: 0;
  }
}
.my_page_container {
  @include mobile {
    margin: 0 auto;
  }
}

.mp_title {
  width: 100%;
  background: #333333;
  color: #fff;
  padding: 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.mp_title > h1 {
  padding: 20px 0 ;
  font-size: 25px;
  @include laptop{
    padding: 1em 0;
    font-size: 1.2em;
  }
}
.mypage_list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.mypage_section {
  width: calc((100% - 10px) / 2);
  background: #333333;
  color: #fff;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  @include mobile{
    font-size: 1.2em;
    width: 100%;
    height: 10em;
    gap: 0.5em;
  }
}
.section_logo {
  width: 50px;
  height: 50px;
  @include mobile{
    width: 3em;
    height: 3em;
  }
}
.corp_logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  @include mobile{
    width: 3em;
    height: 3em;
  }
}
.section_title {
  font-size: 22px;
  width: 200px;
  @include mobile{
    width: 8em;
    font-size: 1em;
  }
}
.btn_moveSection {
  border: 1px solid #fff;
  width: 100px;
  text-align: center;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 10px 0;
  cursor: pointer;
  @include mobile{
    width: 6em;
    font-size: 0.8em;
    bottom: -5px;
    right: 5px;
    padding: 0.3em;
  }
}
.sns_log_desc {
  position: absolute;
  bottom: 25px;
  font-size: 12px;
  text-align: center;
  @include mobile{
    bottom: -7px;
    font-size: 0.9em;
    word-break: keep-all;
  }
}
.contents_box {
  width: 100%;
  border: 5px solid #000;
  padding: 20px;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.user_info > li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid;
  padding: 0 20px;
  gap: 20px;
}
.user_info>li>.title {
  width: 20%;
}
.info_fixed {
  font-style: italic;
}
.info_pw {
  width: 80%;
  display: flex;
  justify-content: center;
}
.btn_pw_change {
  padding: 10px 30px;
  color: #fff;
  margin: 0;
  background: linear-gradient( #000 ,#333, #000);
}
