<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="com.hanssem.app.dao.productMapper">
<!-- ProductDto resultMap -->
    <resultMap id="ProductDto" type="ProductDto">
        <result column="product_number" property="product_number"/>
        <result column="product_name" property="product_name"/>
        <result column="product_price" property="product_price"/>
        <result column="product_register_date" property="product_register_date"/>
        <result column="product_content" property="product_content"/>
        <result column="product_status" property="product_status"/>
        <result column="product_class" property="product_class"/>
        <result column="category_code_number" property="category_code_number"/>
        <result column="product_tag" property="product_tag"/>
    </resultMap>
<!-- CateCodeDto resultMap -->
    <resultMap id="CateCodeDto" type="CateCodeDto">
        <result column="category_code_number" property="category_code_number"/>
        <result column="category_code_name" property="category_code_name"/>

    </resultMap>
<!-- SizeCodeDto resultMap -->
    <resultMap id="SizeCodeDto" type="SizeCodeDto">
        <result column="size_code_number" property="size_code_number"/>
        <result column="size_code_name" property="size_code_name"/>
    </resultMap>
<!-- ColorCodeDto resultMap -->
    <resultMap id="ColorCodeDto" type="ColorCodeDto">
        <result column="color_code_number" property="color_code_number"/>
        <result column="color_code_name" property="color_code_name"/>
        <result column="color_code_code" property="color_code_code"/>
    </resultMap>
<!-- CateSizeDto resultMap -->
    <resultMap id="CateSizeDto" type="CateSizeDto">
        <result column="category_size_number" property="category_size_number"/>
        <result column="size_code_number" property="size_code_number"/>
        <result column="category_code_number" property="category_code_number"/>

        <collection property="productDto" resultMap="ProductDto"/>
        <collection property="sizeCodeDto" resultMap="SizeCodeDto"/>
    </resultMap>
<!-- ProductSizeColorDto resultMap -->
    <resultMap id="ProductSizeColorDto" type="ProductSizeColorDto">
        <result column="product_size_color_number" property="product_size_color_number"/>
        <result column="product_size_color_amount" property="product_size_color_amount"/>
        <result column="product_number" property="product_number"/>
        <result column="size_code_number" property="size_code_number"/>
        <result column="color_code_number" property="color_code_number"/>

        <collection property="productDto" resultMap="ProductDto"/>
        <collection property="sizeCodeDto" resultMap="SizeCodeDto"/>
        <collection property="colorCodeDto" resultMap="ColorCodeDto"/>
    </resultMap>
<!--    상품 등록    -->
    <insert id="insert" parameterType="ProductDto">
        INSERT INTO product
        (product_name, product_price, product_content, product_status, product_class,category_code_number)
        VALUES
        (#{product_name},#{product_price},#{product_content},#{product_status},#{product_class},#{category_code_number})
    </insert>

<!--    전체 상품 개수 구하기    -->
    <select id="count" resultType="int">
        SELECT count(*) FROM product
    </select>

<!--    특정 상품 하나 가져오기    -->
    <select id="select" parameterType="int" resultType="ProductDto">
        SELECT * FROM product WHERE product_number = #{product_number}
    </select>

<!--    상품 전체 가져오기 (정렬: 최근 게시물이 위로)    -->
    <select id="selectAll" resultType="ProductDto">
        SELECT * FROM product ORDER BY product_register_date desc, product_number desc
    </select>

<!--    특정 카테고리에 담긴 상품 전체 가져오기    -->
    <select id="selectCate" resultType="ProductDto">
        SELECT * FROM product WHERE category_code_number = #{category_code_number}
    </select>

<!--    상품 정보 수정    -->
    <update id="update" parameterType="ProductDto">
        UPDATE product
        SET product_name=#{product_name},
            product_price=#{product_price},
            product_content=#{product_content}
        WHERE product_number=#{product_number}
    </update>

<!--    상품 정보 삭제    -->
    <delete id="delete" parameterType="map">
        DELETE FROM product WHERE product_number=#{product_number}
    </delete>

<!--    상품의 사이즈 정보 가져오기    -->
    <select id="selectSize" parameterType="int" resultMap="CateSizeDto">
        SELECT
        size_code_name
        FROM category_size
        JOIN product p on category_size.category_code_number = p.category_code_number
        JOIN size_code sc on category_size.size_code_number = sc.size_code_number
        WHERE product_number = #{product_number} ;
    </select>

<!--    상품의 사이즈에 맞는 컬러 가져오기-->
    <select id="selectSizeColor" parameterType="map" resultMap="ProductSizeColorDto">
        SELECT color_code_name, <!--ColorCodeDto-->
               color_code_code, <!--ColorCodeDto-->
               size_code_name  <!--SizeCodeDto-->
        FROM product_size_color psc
        JOIN product p on psc.product_number = p.product_number
        JOIN size_code sc on psc.size_code_number = sc.size_code_number
        JOIN color_code cc on psc.color_code_number = cc.color_code_number
        WHERE p.product_number = #{product_number} and size_code_name= #{size_code_name}
    </select>
</mapper>